body {
    font-family: "Maven Pro", sans-serif;
    background-color: #f8f8f8;
    margin: 0;
}

.main_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.top_title {
    color: #555;
    font-weight: 100;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: #eee;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.top_title h1 {
    margin: 0;
    font-size: 1.4em;
    font-family: "Open sans", sans-serif;
}

.content {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 17px;
}

.tile_container {
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    background-color: #eee;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 7px;
    width: 240px;
    height: 240px;
    margin: 8px;
    display: flex;
    flex-direction: column;
}

.tile_title {
    border-radius: 6px;
    text-align: center;
    margin: 0;
    padding: 6px 0;
    color: grey;
    font-size: 1.3em;
    font-family: "Open sans", sans-serif;
}

.tile_info_container {
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.tile_info_item {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 6px 0;
    text-align: center;
    font-size: 2.4em;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tile_more_button {
    padding: 4px 0;
    height: auto;
    flex-basis: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.tile_more_button > a {
    padding: 4px 9px;
    font-size: .93em;
    color: white;
    background-color: #5b97e5;
    border-radius: 4px;
    text-decoration: none;
}
.tile_more_button > a:hover,
.tile_more_button > a:focus {
    opacity: .7;
}

.detail_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.detail_left {
    flex-basis: 430px;
    flex-shrink: 1;
    flex-grow: 0;
}

.detail_right {
    flex-basis: auto;
    flex-shrink: 2;
    flex-grow: 0;
    margin-left: 7px;
    width: 500px;
}

/* hide the graph view on smaller screens */
@media screen and (max-width: 500px) {
    .detail_right {
        display: none;
    }
}

.detail_right h1 {
    text-align: center;
    color: grey;
    font-family: "Open sans", sans-serif;
}

.graph_container {
    width: 100%;
    height: 300px;
    background-color: #eee;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;
    overflow: hidden;
    border-radius: 7px;
}

.graph_entry {
    min-width: 3px;
    width: 3px;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
}

.graph_entry > div {
    background-color: #5b97e5;
}

/* indicator in front of the main text on a details page which indicates the
   the color of a part of the graph */
.graph_indicator {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 3px;
}

.large_table {
    width: 100%;
    border-spacing: 5px;
    margin: 7px 0;
}

.large_table td {
    font-size: 1.1em;
    padding: 8px 18px;
}
.large_table td:first-child {
    color: grey;
    width: 100%;
}
.large_table td:last-child {
    background-color: #eee;
    color: #666;
    font-size: 1.5em;
    text-align: center;
    border-radius: 5px;
}
.large_table th {
    color: #444;
    font-size: 1.3em;
}

.small_table_title {
    margin-top: 20px;
    color: grey;
    font-family: "Open sans", sans-serif;
    text-align: center;
}

.small_table {
    width: 100%;
    margin: 15px 0;
}

.small_table tbody {
    font-family: monospace;
}

.small_table td {
    padding: 4px 18px;
    border-bottom: 1px solid #ddd;
}

.small_table td:first-child {
    color: grey;
}

.small_table td:last-child {
    text-align: right;
}

/* override old td styling */
.cpu_usage_alert td {
    background-color: initial !important;
    display: none;
    color: #999 !important;
    font-size: .72em !important;
    text-align: center !important;
}
